/docs/build/
.idea/
poetry.lock
pyechelle.egg-info
tests/.hypothesis
pyechelle/__pycache__
/tests/.benchmarks/
tests/.pytest_cache
*.fits
/pyechelle/models/*.hdf
/pyechelle/.cache/
docs/source/_autosummary
.benchmarks
.hypothesis
benchmark_results.json
tests/benchmark_results.json
.coverage